* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.container-header {
    color: yellow;
    list-style: none;
}

.container-header li {
    border-bottom: 1px solid white;
}

.container-header li:hover {
    cursor: pointer;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

